{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <section id="goals">
        <div class="container">
          <div class="panel panel-default">
            <img class="center" src="/img/goals.jpg" alt="Goals" />
            <div class="panel-body">
              <div class="goals-grid">
                <div class="goals-grid-column">
                  <h4 class="center">{{ .Site.Data.goals.milestones_title }}</h4>
                  {{ range $i, $el := .Site.Data.goals.milestones }}
                    <p>{{ $el }}</p>
                  {{ end }}
                </div>
                <div class="goals-grid-column">
                  <h4 class="center">{{ .Site.Data.goals.goals_title }}</h4>
                  {{ range $i, $el := .Site.Data.goals.goals }}
                    <p>{{ $el }}</p>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>          
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
